.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
    }

    #result {
        width: 329px;
        background-color: #444444;
        display: flex;
        margin: 0;
        height: 85px;
        color: #fff;
        font-size: 42px;
        /* align-items: center; */
        justify-content: flex-end;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        align-items: flex-end;
        margin-left: -3px;
    }

    .numPad {
        width: 330px;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        padding-left: 0;
        margin: 0
    }

    li {
        width: 80px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #a2a2a2;
        height: 80px;
        background-color: #e0e0e0;
    }

    li:hover {
        background-color: white
    }

    li.operator {
        background-color: #f39331;
        color: #ffffff;
        font-size: 50px;
    }

    li.operator:hover {
        color: black;
        background-color: white
    }

    #num0 {
        width: 120px;
        border-bottom-left-radius: 10px;
        justify-content: left;
        padding-left: 40px;
        padding-right: 2px;
    }

    #equals {
        border-bottom-right-radius: 10px;
    }